# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# --- Compiled class files ---
*.class

# --- IDEs ---
.vscode/
.idea/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath
.factorypath

# --- OS ---
Thumbs.db
Desktop.ini
.DS_Store

# --- Logs & JVM ---
*.log
hs_err_pid*
replay_pid*

# --- Temp files ---
*.swp
*~